<div class="auth-container parent-size" ng-controller="LoginController as $ctrl">
    <div class="auth-form">
        <div class="auth-form-header">
            <img src="{{ epamLogo }}" height="40px"/>
        </div>
        <div>
            <form name="form" role="form">
                <md-input-container class="md-block">
                    <input ng-model="email" type="text" placeholder="Login" name="login" id="login" class="form-control" ng-required="true">
                </md-input-container>

                <md-input-container class="md-block">
                    <input ng-model="password" type="password" placeholder="Password" name="password" id="password" class="form-control" ng-required="true">
                </md-input-container>

                <div class="form-actions">
                    <md-button class="md-primary register-button" target="_blank" ng-click='$ctrl.redirectRegister()'>Register</md-button>
                    <md-button type="submit" ng-disabled="form.$invalid || dataLoading" class="md-raised md-warn login-button" ng-click="$ctrl.login()">Login</md-button>
                </div>
            </form>

            <div ng-if="dataLoading" class="spinner-container">
                <md-progress-circular md-mode="indeterminate" class="custom-spinner"></md-progress-circular>
            </div>
        </div>
    </div>
</div>


