.row-style-price {
    width: calc(50% - 10px);
}

.row-style-duration {
    margin-right: 20px;
    width: calc(50% - 10px);
}

.row-style-tags {
    width: calc(85% - 10px);
}

.row-style-add-tag {
    margin-right: 20px;
    width: calc(15% - 10px);
}

.row-style-add-tag-icon {
    margin-top: 6px !important;
    font-size: 44px !important;
}

.actions-button {
    float: right;
}

md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: 0 0 rgba(0,0,0,0.12);
}

md-chips-wrap#_md-chips-wrapper-1:focus {
    outline: none;
}
