<div class="auth-container parent-size" ng-controller="EditGCController as $ctrl" ng-cloak>
    <div class="auth-form">
        <div class="auth-form-header">
            <h1 ng-hide="path === '/add'">{{ 'crud.edit.name' | translate }}</h1>
            <h1 ng-hide="path !== '/add'">{{ 'crud.add.name' | translate }}</h1>
        </div>
        <div>
            <div ng-show="error" class="alert-danger">{{ error }}</div>

            <form name="form" role="form">
                <md-input-container class="md-block">
                    <input
                            ng-model="gc.name"
                            type="text"
                            placeholder="{{ 'crud.title.placeholder' | translate }}"
                            name="name"
                            id="name"
                            class="form-control"
                            required
                            md-maxlength="20"
                    >
                    <div ng-messages="form.name.$error">
                        <div ng-message="md-maxlength">
                            {{ 'crud.title.error' | translate }}
                        </div>
                        <div ng-message="required">{{ 'crud.error.required' | translate }}</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{ 'crud.description.label' | translate }}</label>
                    <textarea
                            ng-model="gc.description"
                            name="description"
                            id="description"
                            class="form-control"
                            required
                            md-maxlength="250"
                            rows="3"
                    ></textarea>
                    <div ng-messages="form.description.$error">
                        <div ng-message="md-maxlength">
                            {{ 'crud.description.error' | translate }}
                        </div>
                        <div ng-message="required">{{ 'crud.error.required' | translate }}</div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <md-input-container class="md-block row-style-duration">
                        <input
                                ng-model="gc.duration"
                                type="number"
                                placeholder="{{ 'crud.duration.placeholder' | translate }}"
                                name="duration"
                                id="duration"
                                class="form-control"
                                required
                                md-maxlength="4"
                        >
                        <div ng-messages="form.duration.$error">
                            <div ng-message="md-maxlength">
                                {{ 'crud.duration.error' | translate }}
                            </div>
                            <div ng-message="required">{{ 'crud.error.required' | translate }}</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block row-style-price">
                        <input
                                ng-model="gc.price"
                                type="number"
                                placeholder="{{ 'crud.price.placeholder' | translate }}"
                                name="price"
                                id="price"
                                class="form-control"
                                required
                                md-maxlength="7"
                        >
                        <div ng-messages="form.price.$error">
                            <div ng-message="md-maxlength">
                                {{ 'crud.price.error' | translate }}
                            </div>
                            <div ng-message="required">{{ 'crud.error.required' | translate }}</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-button class="md-fab row-style-add-tag" aria-label="Add tag" ng-click="$ctrl.addTag()">
                        <i class="material-icons row-style-add-tag-icon">add</i>
                    </md-button>

                    <md-input-container class="md-block row-style-tags">
                        <input ng-model="inputTag" type="text" placeholder="{{ 'crud.tags.placeholder' | translate }}" name="tags" id="tags" class="form-control">
                    </md-input-container>
                </div>

                <md-chips ng-model="gc.tags"
                          readonly=true
                          md-removable=true
                          input-aria-label="Chips"
                >
                    <md-chip-template>
                        <strong>{{$chip.name}}</strong>
                    </md-chip-template>
                </md-chips>

                <div layout="row" class="actions-button">
                    <div class="form-actions">
                        <md-button
                                ng-disabled="form.$invalid || dataLoading"
                                class="md-raised md-warn"
                                ng-click="$ctrl.editGC(gc.id)"
                                ng-hide="path === '/add'"
                        >
                            {{ 'crud.edit.label' | translate }}
                        </md-button>
                    </div>
                    <div class="form-actions">
                        <md-button
                                ng-disabled="form.$invalid || dataLoading"
                                class="md-raised md-warn"
                                ng-click="$ctrl.addGC()"
                                ng-hide="path.indexOf('/edit') !== -1"
                        >
                            {{ 'crud.add.label' | translate }}
                        </md-button>
                    </div>
                    <div class="form-actions">
                        <md-button
                                ng-disabled="form.$invalid || dataLoading"
                                class="md-raised md-warn"
                                ng-click="$ctrl.beforeDeleteGC(gc.id)"
                                ng-hide="path === '/add'"
                        >
                            {{ 'crud.delete.label' | translate }}
                        </md-button>
                    </div>
                </div>
            </form>

            <div ng-if="dataLoading" class="spinner-container">
                <md-progress-circular md-mode="indeterminate" class="custom-spinner"></md-progress-circular>
            </div>
        </div>
    </div>
</div>
