<md-dialog aria-label="Full View" ng-controller="HomeController as $ctrl">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{gc.name | uppercase}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons" aria-label="Close dialog">cancel</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-repeat="tag in gc.tags" class="tags-container">
                    {{tag.name}}
                </div>
                <br>
                <p class="md-subhead">{{gc.description}}</p>
                <p class="md-subhead"><strong>{{ 'home.full.duration' | translate }}:</strong> {{gc.duration}}</p>
                <p class="md-subhead"><strong>{{ 'home.full.creationDate' | translate }}:</strong> {{gc.dateOfCreation| date: 'longDate'}}</p>
                <p class="md-subhead"><strong>{{ 'home.full.modificationDate' | translate }}:</strong> {{gc.dateOfModification| date: 'longDate'}}</p>
                <p class="md-subhead"><strong>{{ 'home.full.price' | translate }}:</strong> {{gc.price}} BYN</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{ 'home.full.cancel.kabel' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
