<div ng-controller="HomeController as $ctrl">
    <div flex class="gcs-container" ng-repeat="item in gcs">
        <md-card md-theme-watch class="gcs-card">
            <md-card-title class="card-title">
                <md-card-title-text>
                    <span class="md-headline" data-id = "{{item.id}}" ng-click="$ctrl.showFull($event)">{{item.name | uppercase}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media card-date">
                        <span class="md-subhead">{{item.dateOfModification | date: 'longDate'}}</span>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <div class="card-content">
                <div ng-repeat="tag in item.tags" class="tags-container">
                    {{tag.name}}
                </div>
                <br>
                <span class="md-subhead">{{item.description}}</span>
            </div>
            <div class="item-buttons-container">
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="edit-delete-buttons" md-colors="{background: 'Green'}" ng-href="/edit/{{item.id}}">Edit</md-button>
                    <md-button class="edit-delete-buttons" md-colors="{background: 'Red'}">Delete</md-button>
                </md-card-actions>

                <md-card-actions layout="row" layout-align="end center" class="item-price-container">
                    <md-button md-colors="{background: 'Cyan'}">Buy</md-button>
                    <div class="item-price">
                        {{item.price}} BYN
                    </div>
                </md-card-actions>
            </div>
        </md-card>
    </div>

    <div class="pagination-container">
        <ul ng-if="pager.pages.length" class="pagination">
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="$ctrl.setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="$ctrl.setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                <a ng-click="$ctrl.setPage(page)">{{page}}</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="$ctrl.setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="$ctrl.setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>


