<div ng-controller="HomeController as $ctrl" ng-cloak>
    <div class="filter filter-container">
        <div class="filter-item">
            <md-input-container class="md-block">
                <input
                        ng-model="searchName"
                        type="text"
                        placeholder="Name"
                        name="searchName"
                        id="searchName"
                        class="form-control"
                >
            </md-input-container>

            <md-input-container class="md-block">
                <input
                        ng-model="searchDescription"
                        type="text"
                        placeholder="Description"
                        name="searchDescription"
                        id="searchDescription"
                        class="form-control"
                >
            </md-input-container>
        </div>
        <div class="filter-item-large">
            <div layout="row">
                <md-button class="md-fab row-style-add-tag" aria-label="Add tag" ng-click="$ctrl.addSearchTag()">
                    <i class="material-icons row-style-add-tag-icon">add</i>
                </md-button>

                <md-input-container class="md-block row-style-tags">
                    <input ng-model="inputTag" type="text" placeholder="{{ 'crud.tags.placeholder' | translate }}" name="tags" id="tags" class="form-control">
                </md-input-container>
            </div>
            <md-chips ng-model="tagsSearch"
                      readonly=true
                      md-removable=true
                      input-aria-label="Chips"
            >
                <md-chip-template>
                    <strong>{{$chip.name}}</strong>
                </md-chip-template>
            </md-chips>
        </div>
        <div class="filter-item">
            <ul class="pagination pagination-filter">
                <md-list-item class="page-amount">
                    <md-menu class="md-secondary">
                        <md-button class="md-page-amount"></md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ng-click="$ctrl.setOrder('creation_date')">
                                    <p class="user-icons">Creation Date</p>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$ctrl.setOrder('modification_date')">
                                    <p class="user-icons">Modification Date</p>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$ctrl.setOrder('price')">
                                    <p class="user-icons">Price</p>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$ctrl.setOrder('name')">
                                    <p class="user-icons">Name</p>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$ctrl.setOrder('description')">
                                    <p class="user-icons">Description</p>
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                    Order Type
                </md-list-item>
            </ul>
            <ul class="pagination pagination-filter">
                <md-list-item class="page-amount">
                    <md-menu class="md-secondary">
                        <md-button class="md-page-amount"></md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ng-click="$ctrl.setOrderParameter('desc')">
                                    <p class="user-icons">DESC</p>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$ctrl.setOrderParameter('asc')">
                                    <p class="user-icons">ASC</p>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    Order Parameter
                </md-list-item>
            </ul>
            <br>
            <md-button ng-click="$ctrl.filter()">
                <p class="user-icons">FILTER</p>
            </md-button>
        </div>
    </div>
    <div flex class="gcs-container" ng-repeat="item in gcs">
        <md-card md-theme-watch class="gcs-card">
            <md-card-title class="card-title">
                <md-card-title-text>
                    <span class="md-headline" data-id = "{{item.id}}" ng-click="$ctrl.showFull($event)">{{item.name | uppercase}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media card-date">
                        <span class="md-subhead">{{item.dateOfModification | date: 'longDate'}}</span>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <div class="card-content">
                <md-chips ng-model="item.tags"
                          readonly=true
                          input-aria-label="Chips"
                >
                    <md-chip-template>
                        <strong>{{$chip.name}}</strong>
                    </md-chip-template>
                </md-chips>
                <span class="md-subhead">{{item.description}}</span>
            </div>
            <div class="item-buttons-container">
                <md-card-actions layout="row" layout-align="start center">
                    <md-button
                            ng-if="globals.currentUser.username && userParams.role === 'ADMIN'"
                            class="edit-delete-buttons"
                            md-colors="{background: 'Green'}"
                            ng-href="/edit/{{item.id}}"
                    >
                        {{ 'home.edit.label' | translate }}
                    </md-button>
                    <md-button
                            ng-if="globals.currentUser.username  && userParams.role === 'ADMIN'"
                            ng-controller="EditGCController as $ctrl2"
                            class="edit-delete-buttons"
                            md-colors="{background: 'Red'}"
                            ng-click="$ctrl2.beforeDeleteGC(gc.id)"
                    >
                        {{ 'home.delete.label' | translate }}
                    </md-button>
                </md-card-actions>

                <md-card-actions layout="row" layout-align="end center" class="item-price-container">
                    <md-button
                            ng-if="globals.currentUser.username"
                            class="button-white"
                            md-colors="{background: 'Cyan'}"
                            ng-click="$ctrl.buy(item.id)"
                    >
                        {{ 'home.buy.label' | translate }}
                    </md-button>
                    <div class="item-price">
                        {{item.price}} BYN
                    </div>
                </md-card-actions>
            </div>
        </md-card>
    </div>

    <div class="pagination-container">
        <ul class="pagination">
            <md-list-item class="page-amount">
                <md-menu class="md-secondary">
                    <md-button class="md-page-amount"></md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="$ctrl.setAmountOnPage(20)">
                                <p class="user-icons">20</p>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.setAmountOnPage(50)">
                                <p class="user-icons">50</p>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.setAmountOnPage(100)">
                                <p class="user-icons">100</p>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                {{ 'home.pager.amount' | translate }}
            </md-list-item>
        </ul>

        <ul ng-if="pager.pages.length" class="pagination">
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="$ctrl.setPage(1)">{{ 'home.pager.first' | translate }}</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="$ctrl.setPage(pager.currentPage - 1)">{{ 'home.pager.previous' | translate }}</a>
            </li>
            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                <a ng-click="$ctrl.setPage(page)">{{page}}</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="$ctrl.setPage(pager.currentPage + 1)">{{ 'home.pager.next' | translate }}</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="$ctrl.setPage(pager.totalPages)">{{ 'home.pager.last' | translate }}</a>
            </li>
        </ul>
    </div>

    <div ng-if="dataLoading" class="spinner-container">
        <md-progress-circular md-mode="indeterminate" class="custom-spinner"></md-progress-circular>
    </div>
</div>


